<% provide(:title, @user.name) %>
<div class="show-row">
	<aside class="span4 user-info">
		<%= render "shared/user_info" %>
	</aside>
</div>
<div class="row">
		<%= render "shared/liked_shops" %>
</div>
