<% provide(:title, @user.name) %>
<div class="show-row">
	<aside class="span4 user-info">
		<%= render "shared/user_info" %>
	</aside>
</div>
<div class="show-row">
	<aside class="span8 liked-shops">
		<% @shops.each do |shop| %>


				<li>
					<%= shop.name %>
				</li>
				<li> 
					<%= shop.address %>
				</li>
				<%#= image_tag shop.@photos.url %>
			<%# end %>	
		<% end %>
	</aside>
	<%= @shops.count %>
</div>
