<aside class="span8 liked-shops">
	<h2><%= @user.name %>'s Liked Shops </h2>
	<table>
		<thead>
			<tr>
				<th class="first-heading">Coffee Shop</th>
				<th>Address</th>
			</tr>
		</thead>

		<tbody>
		<% binding.pry %>
	<% if @user.find_liked_items.blank? %>
		<tr>
			<td class="name"> 
				This is looking empty....
			</td>
			<td class="address"> 
				A stroll to the coffee shop guy will do
			</td>
		</tr>
	<% else %>			
		<% @shops.each do |shop| %>
			<tr>
				<td class="name">
					<%= shop.name %>
				</td>
				<td class="address"> 
					<%= shop.address %>
				</td>
			</tr>
		<% end %>
		</tbody>
	<% end %>
	</table>
</aside>
