<% provide(:title, 'About') %>
<h3> Need to figure out where the cool coffee shops are? Then use Coffee shop!</h3>

<% if current_user.nil? %>

	<%= link_to root_path do %>
		<button class="sign-up btn btn-primary">
			<span>Back To Home Page</span>
		</button>
	<% end %>		

<% end %>

	