<% provide(:title, 'Contact') %>
	<h1>Contact Us</h1>
	<p>
		"You should contact me at <a href="mailto:kobe.oseiakoto@gmail.com?Subject=Hey I've got questions about the app">kobe.oseiakoto@gmail.com</a>
	</p>
