<% provide(:title, 'Home') %>
<div class="intro">
	<h1> Life's like a warm cup of coffee </h1>
	<h3> Discover amazing places to drink coffee </h3>

	<button class="sign-up btn btn-primary">
		<%= link_to "Sign Up", '#' %>
	</button>
	</div>
</div>
