<% provide(:title, 'All Neighborhoods') %>
<h1>NYC Neighborhoods</h1>

<ul class="neighborhoods">
	<% @neighborhoods.each do |neighborhood| %>
		<%= link_to neighborhood do %>	
			<li>
				<%= image_tag neighborhood.avatar.url(:thumb) %>
				<span><%= neighborhood.name %></span>
			</li>
		<% end %>
	<% end %> 
</ul>

