//declared mixins

$white: #FFFFFF;	

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, #wrapper, .container { height: 100%; }

	body { 	
		padding-top: 60px;
		text-align: center;
		a { 
			color: $white; 
			text-decoration: none;
			&:hover { 
				color: $white;
				text-decoration: none; }
		}

		.navbar-inverse { 
			display: block;
			background-color: #303030;
			padding: 0 50px;
			vertical-align: text-bottom;
			.coffee-logo { 
				float: left; 
				padding: 10px;
				border-right: 1px solid #1D1D1D;
				box-shadow: 1px 0 0 #414141;
				.fa { color: white; }
				.fa:hover, span:hover { color: gold; }
				span { 
					line-height: 40px; 
					vertical-align: top;
					font-size: 22px;
				}
			}
			.header-right { 
				float: right;
				margin: 15px 100px 0 0;
				button { width: 120px;}
			}
		}

		#wrapper {
			width: 100% !important;
			h1, h3 { color: $white; }
	 	}

		.intro { 
			margin-top: 230px; 
			a { color: $white; }
			button {
				padding: 8px 0;
				margin-top: 30px;
				width: 120px; 
				font-size: 18px;
				&:hover { background-color: green; }
			} 
		}
		.container { width: 960px !important;	}
		footer { 
			float: left;
			width: 100%;
			color: $white;
			background-color: #303030; 
			padding: 35px 20px; 
			li { list-style: none; }
			ul.links {
				float: left; 
				display: inline-block;
				li {
				float: left;
				padding: 5px;
				} 
			}
			ul.social-icons {
				display: inline-block;
				float: right;
				width: 225px;
				margin-right: 70px;
				i:hover { 
					color: #428bca;
					cursor: pointer;
				}
				li {
				padding: 5px;
				float: left;
				color: $white;
				}
			}
		}
	}

	/* miscellaneous */

	.debug_dump {
		@include box_sizing;
		clear: both;
		float: left;
		width: 100%;
		margin-top: 45px;
	}

	/* forms */

	input, textarea, select, .uneditable-input {
		@include box_sizing;
		border: 1px solid #bbb;
		width: 50%;
		margin-bottom: 15px;
	}

	#user_avatar { display: inline-block; }

	label { display: block; }

	#error_explanation {
		color: #f00;
		ul {
			list-style: none;
			margin: 0 0 18px 0;
		}
	}

	.field_with_errors {
		@extend .control-group;
		@extend .error;
	}
