//declared mixins

$white: #FFFFFF;	

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);

h1, h2, h3, h4, h5, h6 { 
	font-family: 'Didact Gothic', Helvetica, sans-serif; 
}

.bg-signup {
	h1, h3 { color: $white;}
}

html, body, #wrapper, .container { 
	height: 100% !important; 
	font-family: 'Didact Gothic', Helvetica, sans-serif;
}

	#wrapper { 	
		margin-top: 60px !important;
		text-align: center;
		.navbar-inverse { 
			display: block;
			background-color: #303030;
			padding: 0 50px;
			vertical-align: text-bottom;
			a { 
					color: $white; 
					text-decoration: none;
					&:hover { 
						color: $white;
						text-decoration: none; }
				}
			li { list-style: none; }
			.coffee-logo { 
				float: left; 
				padding: 10px;
				border-right: 1px solid #1D1D1D;
				box-shadow: 1px 0 0 #414141;
				.fa { color: white; }
				.fa:hover, span:hover { color: gold; }
				span { 
					line-height: 40px; 
					vertical-align: top;
					font-size: 22px;
				}
			}
			ul.nav-links {
				float: right;
				padding: 25px 35px 0 0;
				li { 
					display: inline; 
					padding: 0 10px;
					vertical-align: text-bottom;
					a:hover {
						opacity: 0.8;
						background: none;
						color: #428bca;
					}
				}
				ul.dropdown-menu {
					padding: 0 10px;
					li { 
						float:left;
						border-bottom: 1px solid #e5e5e1; 
						width: 100%;
						a { 
							color: black;
							float: inherit;
							line-height: 30px;
							padding: 3px 0;
							&:hover { 
								opacity: 1 !important;
								background: none;
								color: blue;
							}
						}
					}
					li:last-child { border-bottom: none;}

				}	
				a.dropdown-toggle {
					.caret { border-top: 4px solid white;}
				}
			
			}
			.header-right { 
				float: right;
				margin: 15px 100px 0 0;
				button { width: 120px;}
			}
		}

	 	.bg-signup {
	 		h1, h3 { color: $white; }
	 	} 

		.intro { 
			margin-top: 230px; 
			a { color: $white; }
			button {
				padding: 8px 0;
				margin-top: 30px;
				width: 120px; 
				font-size: 18px;
				&:hover { background-color: green; }
			} 
		}
		.container { 
			width: 960px !important;	
			overflow: auto;
		}
		div.left-profile {
			margin-top: 0px !important;
		}
		div.show-row {
			float: left;
			margin: 20px 10px;
			padding: 20px;
			h1 { 
				margin-top: 0px;
				float: left;
			}
			img, span { 
				float: left;
				display: block;
				clear: both;
			}
			span { 
				padding-top: 10px;
				font-size: 16px;
				clear: both; 
			}
			.description { 
				font-weight: bold;
				font-size: 22px;
			}
			img.static-map { margin-top: 15px;}
		}

		.shop-info {
			section {
				margin: 15px 30px;
				width: 500px;
				border: 3px solid #ECEAE8;
				float: left;
				.shop-contents { 
					float: left; 
					clear: both;
					padding: 10px 20px;
					font-size: 14px;
					text-align: left;
					span { 
						font-size: 20px;
						font-weight: bold;
					}
				}
				h1 { 
					display: block; 
					padding: 10px 20px;
				}
			}
			h1 { float: left;}
			.shop-map {	
				float: right; 
				margin: 15px 30px;
			}
		}

		ul.photos { 
			margin-top: 20px;
			padding-left: 11px;
			float: left;
			list-style: none;
			clear: both; 
		}

		h2.photos-heading {
			margin-left: 5px;
			text-align: left;
		}

		div.like-action { 
			margin: 15px 0px;
			clear: both; 
			.btn-info { 
				font-size: 20px;
				margin-right: 120px;
				width: 220px;
				height: 50px;
			}
		}

		.neighborhood-top {
			h1 { float: left; }
			img { 
				float: left; 
				padding: 10px 50px;
			}
		}
		div.paginate-end {
			display: inline-block;
			float: left;
			padding-left: 40px;
		}

		div.shops-list {
			margin-bottom: 20px;
			ul.pagination {
				display: block;
				padding-left: 40px;
				
			}
			ol.shops {
				margin-top: 20px;
				li { 
					overflow: auto;
					padding: 10px 0;
					border-top: 1px dotted gray;
				}
				a { 
					float: left;
					display: block;
					font-size: 28px;
				}
				span { 
					float: left;
					clear: both;
					text-align: left;					
				}
			}
		}

		ul.neighborhoods {
			list-style: none;
			a:hover { text-decoration: none;}
			li { 
				width: 210px;
				padding: 10px;
				margin: 10px;
				display: inline-block;
				img { 
					float: left;
					margin-bottom: 7px;
				}
				span { font-size: 16px; }
			}
		}


		ul.users {
			margin-top: 30px;
			list-style: none;
			li { 
				overflow: auto;
				padding: 10px 0;
				border-top: 1px solid gray;
				}
				img { float: left; }
				span { 
					margin-left: 10px;
					float: left;
					font-size: 20px;
				}
		}

		.liked-shops {
			float: left;
			text-align: left;
			padding-left: 15px;
			border-left: 1px solid #e5e5e1;
			table {
				th { font-size: 20px; }
				th.first-heading { padding-right: 20px;}
				tbody {
					tr { height: 35px; }
				}
				.name { 
					padding-right: 20px; 
				}				
			}
		}

		.footer { 
			float: left;
			width: 100%;
			color: $white;
			background-color: #303030; 
			padding: 35px 20px; 
			li { list-style: none; }
			a { color: $white;}
			a:hover { 
				opacity: 0.8;
				color: #428bca;
				text-decoration: none;
			}
			ul.links {
				float: left; 
				display: inline-block;
				li {
				float: left;
				padding: 5px;
				} 
			}
			ul.social-icons {
				display: inline-block;
				float: right;
				width: 225px;
				margin-right: 70px;
				i:hover { 
					color: #428bca;
					cursor: pointer;
				}
				li {
				padding: 5px;
				float: left;
				color: $white;
				}
			}
		}
	}

	/* miscellaneous */

	.debug_dump {
		@include box_sizing;
		clear: both;
		float: left;
		width: 100%;
		margin-top: 45px;
	}

	/* forms */

	input, textarea, select, .uneditable-input {
		@include box_sizing;
		border: 1px solid #bbb;
		width: 50%;
		margin-bottom: 15px;
	}

	#user_avatar { display: inline-block; }

	label { display: block; }

	#error_explanation {
		color: #f00;
		ul {
			list-style: none;
			margin: 0 0 18px 0;
		}
	}

	.field_with_errors {
		@extend .control-group;
		@extend .error;
	}
