// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login-wrapper {
	margin: 0 auto;
	background-color: white;
	text-align: center;
	div.heading-logo { 
		margin-bottom: 90px;
		span { 
			vertical-align: top;
			font-size: 36px; 
			line-height: 50px;
		}
 	}
	h1, h3 { color: black; }

	div.row {
		margin-top: 40px;
		padding-bottom: 20px;
		border-bottom: 1px solid #CCC;
		form {
			width: 631px;
			margin: 0 auto;	
			// margin: 40px 0px 20px 0px;
			padding-bottom: 10px;
			line-height: 26px;
			input { 
				height: 50px;
				padding: 10px;
				border-radius: 6px;
			}
			.btn { font-size: 20px;}
		}
	}
	div.sign-up {
		border-bottom: none;
		span.upload { 
			display: block;
			text-align: left;
			margin: 0 0 7px 160px;
			font-size: 16px;
		}
	}
	div.bottom-log-in {
		width: 50%;
		margin: 0 auto;
		text-align: right;
		padding-right: 30px;
		span { color: #CCC; }
	}
	div.bottom-sign-up {
		padding-top: 20px;
		p { color: #CCC;}
		a { 
			width: 315px;
			height: 50px;
			line-height: 35px;
			font-size: 20px;
		}
	}
}
