<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="coffee-logo">
		<%= link_to root_path do %>
			<i class="fa fa-coffee fa-3x"></i>
			<span>CoffeeShop</span>	
		<% end %>
	</div>
	<div class="header-right">
		<button class="btn btn-primary">	
			<%= link_to "Log In", '#' %>
		</button>
	</div>
</header>
